body{
    background: url("../images/OIP.jpg") ;
    width: auto;
    font-family: 'Open Sans';
}

.text {
    text-align: center;
    color: rgb(175, 136, 84);
}

.title {
    color: rgb(12, 79, 82);
    text-align: center;
}

.img {
    display: flex;
    margin-top: 30px;
    padding-right: 5%;
    padding-left: 5%;   
}

.card {
    display: flex;
    transition: inherit 0.5s;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50%;
    border-radius: 10%;
 
    
}

.card:hover {
    transform: translateY(-10px);
}

.background {
    background-color: ivory;
}

.navbar {
    /* background: url("../images/img3.jpg"); */
}