@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');


body {
    font-family: 'Comforter Brush', cursive;
    background: url("../images/n.jpg");
}

.background {
    color: rgba(179, 208, 241, 0.616);
    opacity: 30px;
}

.text {
    text-align: center;
    color: rgb(134, 103, 81);
}

.title {
    color: black;
    text-align: center;

}

.title2 {
    color: rgba(95, 181, 184, 0.747);
    text-align: center;
}

.navbar {
    background: url("../images/1.png");
    opacity: 50%;
    color: ghostwhite;

}

.item {
    display: block;
    width: 100%;
    border-radius: 50px;
}

.brand {
    font-family: 'Comforter Brush', cursive;
    color: gainsboro;
    font-size: 25px;
}